*{
    /*Quitamos todos los estilos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

/*Estilo de imagen de fondo*/
.container{
    margin: 0;
    padding: 0; /*Espaciado de arriba, abajo y de costados*/
    display: flex;
    justify-content: center; /*Alinea el contenido a la derecha*/
    background-image: url(../Assets/minDeSalud.png); /*Imagen de fondo*/
    background-repeat: no-repeat; /*No repetir la imagen*/
    background-size: 100%; /*Se le puede poner el 100% pero con cover, rellena todo el contenedor*/
    height: 100%; /*Altura del contenedor*/
}


/*Estilos de los botones*/
button{
    transition-duration: 0.5s; /*Duración de la transición*/
}
/*hover de los botones*/
button:hover{
    transform: scale(1.04); /*Escala el botón al pasar el mouse*/
    transition-duration: 0.5s; /*Duración de la transición*/
}

/*Estilo del logo del MinSal*/
img{
    justify-content: flex-end; 
    align-items: center; /*Alinea el contenido verticalmente*/
    width: 15%; /*Ancho de la imagen*/
    height: 15%; /*Altura de la imagen*/
    margin-right: 1rem; /*Margen derecho de la imagen*/
    transition-duration: 0.5s; /*Duración de la transición*/
}
/*Estilo del logo del MinSal al pasar el mouse*/
img:hover{
    transform: scale(1.1); /*Escala la imagen al pasar el mouse*/
    transition-duration: 0.5s; /*Duración de la transición*/
}

/*Estilo del contenedor de la tarjeta*/
.container-content{
    margin-left: 4rem; /*Margen de la izquierda*/
    padding: 1rem 1rem; /*Espaciado de arriba, abajo y de costados*/
}

/*Estilo para el PopUp*/
.popup-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté encima de todo */
}

/* Estilo del cuadro emergente */
.popup-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón para cerrar */
.close-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #0056b3;
}

/*responsive para pantallas pequeñas*/
@media (max-width: 768px) {
    .container-content{
        justify-content: center; /*Alinea el contenido al centro*/
        width: 90%; /* Ocupa el 90% del ancho del viewport */
        height: 90%; /* Ocupa el 90% de la altura del viewport */
        max-width: 1200px; /* Límite máximo de ancho para pantallas grandes */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 20px; /* Espaciado interno */
        box-sizing: border-box; /* Incluye padding en el ancho total */
    }
    .container{
        background-size: cover; 
    }

}
